body{
    background-image: url("../../resources/images/Background-1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.nav{

    margin: 20px;
}

.nav li {

    font-size: 17px;
    background: radial-gradient(#2B2C30, #1451f2);
    text-transform: uppercase;
    border-radius: 15px;
    padding: 10px;
    list-style: none;
}



h1 {

    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.logo{

    margin-top: 100px;
}

h1 span {

    color: #262626;
    background: #fff;
    padding: 10px 20px;
    font-weight: bolder;
    display: table-cell;
    font-size: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.3),0 5px 0 #ccc;
    animation: animate .5s infinite;
}

@keyframes animate {

    0% {

        transform: translateY(0px);
        box-shadow: inset 0 0 5px rgba(0,0,0,.3),0 5px 0 #ccc,0 15px 5px rgba(0,0,0,0) ;
    }

    50% {

        transform: translateY(-20px);
        box-shadow: inset 0 0 5px rgba(0,0,0,.3),0 5px 0 #ccc,0 15px 5px rgba(0,0,0,.6) ;
    }

    100% {

        transform: translateY(0px);
        box-shadow: inset 0 0 5px rgba(0,0,0,.3),0 5px 0 #ccc,0 15px 5px rgba(0,0,0,0) ;
    }

}

h1 span:nth-child(1){

    animation-delay: .2s;
}

h1 span:nth-child(2){

    animation-delay: .4s;
}

h1 span:nth-child(3){

    animation-delay: .6s;
}

h1 span:nth-child(4){

    animation-delay: .8s;
}

h1 span:nth-child(5){

    animation-delay: 1s;
}

h1 span:nth-child(6){

    animation-delay: 1.2s;
}

h1 span:nth-child(7){

    animation-delay: 1.4s;
}

h1 span:nth-child(8){

    animation-delay: 1.6s;
}
h1 span:nth-child(9){

    animation-delay: 1.8s;
}





.container-fluid h2 {
    font-family: "Tempus Sans ITC";
    font-weight: bold;
    border: 1px inset #005EE9;
    border-radius: 30px;
    text-align: center;
    padding: 15px;
    background-image: url("../../resources/images/Border-2.jpg");
}

.group-name{
    font-family: "Tempus Sans ITC";
    float: right;
    font-size: 35px;
    font-weight: bold;
}
.col-sm-8{
    background-image: url("../../resources/images/Border-1.jpg");
    border-radius: 30px;
    margin-top: 20px;
    border: 1px inset #005EE9;
}
.navbar-collapse{
    margin-top: 20px;
    background-image: url("../../resources/images/Border-1.jpg");
    border-radius: 30px;
    border: 1px inset #005EE9;
}


button{
    border: 2px outset #005EE9;
    padding: 10px 60px 10px 60px;
    margin: 25px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
}

h4{
    font-family: "Tempus Sans ITC";
    font-weight: bold;
    color: ghostwhite;
    border: 1px inset black;
    border-radius: 30px;
    text-align: center;
    padding: 5px;
    background-image: url("../../resources/images/Border-1.jpg");
}